.conteiner-home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /*Centraliza*/
    align-items: center; /*Deixa centralizado*/
    flex-direction: column; /*Em ordem de cima para baixo*/
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo span{
    margin-bottom: 24px;
}

.area-input{
    width: 540px; /* Aqui é determinado a largura*/
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: movimento 2s; /*Tempo que a animação vai ter*/
}

/* Animação subindo area imput*/
@keyframes movimento{
    from{
        transform: translateY(90px); /*Vai de um ponto ao outro*/
    }
    to{
        transform: translateY(0px);
    }
}

.area-input div{
    width: 100%; /* Determina a largura*/
    height: 46px; /*Aqui determina a altura*/
    background-color: rgb(255,255,255, 0.15); /*Cor e opacidade*/
    display: flex; /* Mantem o Layout flexivel*/
    align-items: center;
    border-radius: 6px;
}

.area-input svg{
    margin: 0  8px;
}

.area-input input{
    width: 100%;
    background-color: transparent;
    border: 0;
    height: 46px;
    color: rgb(255, 255, 255);
    outline: none;
}

.area-input  input::placeholder{
    color: rgb(255,255,255, 0.80);
}

.area-input button{
    width: 100%;
    height: 46px;
    border-radius: 6px; /*Determina a curvatura*/
    border: 0; /*Determina o tamanho da borda*/
    font-size: 20px; /*Tamanho da fonte*/
    color: #132742; /*Cor da letra*/
    font-weight: bolder; /*Fonte da letra*/
    margin-top: 8px; /*O espaçamento de cima pra baixo*/
    transition: transform 0.7s; /*Efeito realizado*/
}

.area-input button:hover{
    transform: scale(1.05);
}

/*Deixa o site responsivel*/
@media (max-width: 650px){
    .logo img{
        width: 95px;
    }
    .logo h1{
        font-size: 40px;
    }
    .area-input{
        width: 70%;
    }
    .logo span{
        font-size: 15px;
    }
}